.DS_Store
*~
*.bc
*.exe
*.cmi
*.cmo
_build/
CHANGES.html
README.html
HOWTO
TODO
examples/_tofix/**
examples/**/tb
examples/**/*.dot
examples/**/*.vhd
examples/**/*.vcd
examples/**/*.ghw
examples/**/qsys/
examples/*/*/tb
*.merlin
