.DS_Store
*~
*.bc
*.exe
*.cmi
*.cmo
_build/
CHANGES.html
README.html
HOWTO
TODO
examples/_tofix/**
examples/**/tb
examples/**/*.dot
examples/**/*.vhd
examples/**/*.vcd
examples/**/*.ghw
examples/**/qsys/hw/db
examples/**/qsys/hw/incremental_db
examples/**/qsys/hw/output_files
examples/**/qsys/qsys/*.tcl
examples/*/*/tb
*.merlin
