.DS_Store
*~
*.bc
*.exe
*.cmi
*.cmo
_build/
CHANGES.html
README.html
HOWTO
TODO
examples/*/tb
examples/*/*.dot
examples/*/*.vhd
examples/*/*.vcd
examples/*/*.ghw
examples/*/qsys/
*.merlin
!examples/*/ok/*.vhd
!examples/*/ok2/*.vhd
